[Desktop Entry]
Name=Discord Overlay
Comment=Display discord information above desktop and games
Exec=discord-overlay
Icon=discord-overlay
Terminal=false
Type=Application
Catergories=Network;
